* {
    margin: 0px;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    height: 1000px;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    backdrop-filter: blur(1.5px);
}

.main{
    background-color: #cdcdcd;
    display: flex;
    padding: 24px; 
    flex-direction: column;
    gap: 24px;
    align-items: center;
    border-radius: 7px;
}

.main p{
    font-size: 32px;
    font-weight: bold;
}

.main input{
    height: 48px;
    width: 312px;
    border-radius: 5px;
    padding-left: 12px;
    font-size: 18px;
    border: none;
    outline: none;
}

#openOverlay{
    height: 48px;
    width: 128px;
    background-color: #3e3eff;
    border: none;
    border-radius: 5px;
    color: #efefef;
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    margin: 24px;
} 

.main button{
    height: 48px;
    width: 128px;
    background-color: #3e3eff;
    border: none;
    border-radius: 5px;
    color: #efefef;
    font-size: 18px;
}









